{
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./src"],
        "alias": {
          "@app/*": "app/*",
          "@components/*": "components/*",
          "@config/*": "config/*",
          "@features/*": "features/*"
        }
      }
    ]
  ]
}
